@media screen and (min-width: 576px) and (max-width: 770px) {
    body{
        margin: 0px 0px;
    }
    #navbar{
        flex-direction: row;
        /* border: 2px solid; */
    }
    .navitem-1{
        margin: 0px auto;
    }
    .navitem-2{
        margin: 0px auto;
    }
    #header{
        flex-direction: column-reverse;
    }
    .headeritem-2{
        margin: 0px 150px;
    }
    #mainsection{
        flex-direction: column;
    }
    #mainsection-2{
        text-align: center;
    }
    .mainsectionpart-2{
        justify-content: center;
        margin-left: 50px;
    }
    .bonussection-1{
        text-align: center;
        margin-bottom: 50px;
    }
    #bonussectionpart{
        padding-left: 30px;
    }
    #careers{
        flex-direction: column;
        width: 800px;
    }
    #sponsorsection{
        margin: 50px 100px;
    }
    #footersection{
        width: 800px;
    }
    
}